/*Created by Bon Crowder @MathFour*/

#red {
  height: 50px;
  width: 50px;
  background-color: red;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#blue {
  height: 75px;
  width: 75px;
  background-color: blue;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#green {
  height: 100px;
  width: 100px;
  background-color: green;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#orange {
  height: 125px;
  width: 125px;
  background-color: orange;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#yellow {
  height: 150px;
  width: 150px;
  background-color: yellow;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#pink {
  height: 175px;
  width: 175px;
  background-color: pink;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#purple {
  height: 200px;
  width: 200px;
  background-color: purple;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#brown {
  height: 225px;
  width: 225px;
  background-color: brown;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
#gray {
  height: 250px;
  width: 250px;
  background-color: gray;
  /*float: left;*/
  /*clear: left;*/

  /*float: right;*/
  /*clear: right;*/

  /*clear: both;*/

  /*float: none;*/
  /*clear: none;*/

  /*float: inherit;*/
  /*clear: inherit;*/
}
